INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
doxygen.config
install-sh
libtool
ltmain.sh
lwes-*.pc
missing
pkgconfig-template.pc
.*.out
