*.o
*.gz
*.la
*.so
*.lo
.*.out
.deps/
.gitignore
.libs/
config.h
config.h.in
lwes-esf-validator
lwes-event-counting-listener
lwes-event-printing-listener
lwes-event-testing-emitter
lwes-filter-listener
lwes.h
lwes_esf_parser.c
lwes_esf_parser_y.c
lwes_esf_parser_y.h
stamp-h1
